# Manejo de Valores Nulos

In [37]:
import pandas as pd
import numpy as np

In [38]:
dict= { 'Col1':[1,2,3,pd.NA],
        'Col2':[4,np.nan,6,7],
        'Col3':['a','b','c',None]
        }

In [39]:
df = pd.DataFrame(dict)
df

   Col1  Col2  Col3
0     1   4.0     a
1     2   NaN     b
2     3   6.0     c
3  <NA>   7.0  None

In [40]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [44]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [45]:
df.fillna("Missing")

      Col1     Col2     Col3
0        1      4.0        a
1        2  Missing        b
2        3      6.0        c
3  Missing      7.0  Missing

In [47]:
df.fillna(df.mean())

TypeError: can only concatenate str (not "int") to str

In [46]:
df

   Col1  Col2  Col3
0     1   4.0     a
1     2   NaN     b
2     3   6.0     c
3  <NA>   7.0  None

In [36]:
df.interpolate()

/tmp/ipykernel_18380/4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

   Col1  Col2  Col3
0     1   4.0     a
1     2   5.0     b
2     3   6.0     c
3  <NA>   7.0  None

In [49]:
df.dropna()

  Col1  Col2 Col3
0    1   4.0    a
2    3   6.0    c