# Pandas üêº

In [1]:
import pandas as pd

In [3]:
psg_players=pd.Series(['Navas','Mbappe','Neymar','Messi'],
            index=[1,7,10,30])

In [4]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
psg_series=pd.Series(['Navas','Mbappe','Neymar','Messi'],)
psg_series

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [6]:
dict={1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [8]:
dict={
        'Jugador':['Navas','Mbappe','Neymar','Messi'],
        'Altura':[183.0,170.0,170.0,165.0],
        'Goles':[2,200,200,200]
}

In [9]:
pd.DataFrame(dict,index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [11]:
df_Players = pd.DataFrame(dict)

In [12]:
df_Players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [13]:
df_Players.index

RangeIndex(start=0, stop=4, step=1)